In [1]:
myset={1,2,3,4,5}

In [2]:
myset

{1, 2, 3, 4, 5}

In [3]:
list1=[6,7,8,9,10]

In [5]:
list1

[6, 7, 8, 9, 10]

In [6]:
l=list(set(list1))

In [7]:
l

[6, 7, 8, 9, 10]

In [10]:
ns=(2,3,(4,5))

In [11]:
ns

(2, 3, (4, 5))

In [12]:
myset={2,3,4,[5,6,7]}

TypeError: unhashable type: 'list'

In [13]:
mysett=set()

In [14]:
type(mysett)

set

In [16]:
myset4=set()
print(type(myset4))

<class 'set'>

In [20]:
myset5={'one','two','three','four','five','six'}
for i in myset :
    print(i)

1
2
3
4
5

In [18]:
myset5.add('eight')

In [19]:
myset5

{'eight', 'five', 'four', 'one', 'six', 'three', 'two'}

In [21]:
myset5.remove('four')

myset5

In [22]:
myset5

{'five', 'one', 'six', 'three', 'two'}

In [23]:
myset5.discard('three')

In [24]:
myset5

{'five', 'one', 'six', 'two'}

In [25]:
a={1,2,3,4,5,6}
b={7,8,9,10}
c={2,3,6,8,9}

In [26]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [28]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [29]:
a.union(b,c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [30]:
a.update(b,c)

In [31]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [34]:
a={11,12,13,14,15,16,17}
b={18,19,20,12,22}

In [35]:
a & b

{12}

In [36]:
b - a

{18, 19, 20, 22}

In [37]:
a.difference(b)

{11, 13, 14, 15, 16, 17}

In [38]:
b.difference_update(a)

In [39]:
b

{18, 19, 20, 22}

In [40]:
help(b.difference_update)

Help on built-in function difference_update:

difference_update(...) method of builtins.set instance
    Remove all elements of another set from this set.

In [41]:
c={20,23,14,16,24}

In [44]:
a.intersection_update(b,c)

In [45]:
a

set()

In [46]:
a^b

{18, 19, 20, 22}

In [47]:
a.symmetric_difference(b)

{18, 19, 20, 22}

In [48]:
myset10 ={'one','two','three','four','five','six','seven'}
for i in myset10 :
    print(i)

five
seven
two
six
four
three
one

In [50]:
a={1,2,3,4,5,6,7,8,9}
b={3,4,5,6,7,8}
c={10,20,30,40}

In [52]:
help(a.issubset)

Help on built-in function issubset:

issubset(...) method of builtins.set instance
    Report whether another set contains this set.

In [53]:
b.issubset(a)

True

In [54]:
b.issuperset(a)

False

In [56]:
a.isdisjoint(c)

True